<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minhw.mapper.StuMatriculateMapper">
    <resultMap id="BaseResultMap" type="com.minhw.entity.StuMatriculate">
        <constructor>
            <idArg column="ksh" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sfzh" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="xm" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="zy" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <!--      <arg column="lxdh" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--      <arg column="dz" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />-->
            <!--      <arg column="create_by" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--      <arg column="update_by" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />-->
            <!--      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />-->
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        ksh
        , sfzh, xm, zy
    </sql>
    <!--  lxdh, dz, status, create_by, update_by, remark, update_time, create_time-->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stu_matriculate
        where ksh = #{ksh,jdbcType=VARCHAR} and status = 0;
    </select>


</mapper>