<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minhw.mapper.StuOutNotificationMapper">
    <resultMap id="BaseResultMap" type="com.minhw.entity.StuOutNotification">
        <constructor>
            <idArg column="ksh" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sfzh" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="kddh" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="xm" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <!--      <arg column="yzbh" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--      <arg column="lxdh" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--      <arg column="yjdz" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />-->
            <!--      <arg column="create_by" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--      <arg column="update_by" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />-->
            <!--      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />-->
            <!--      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />-->
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        ksh
        ,sfzh,kddh, xm
    </sql>
    <!--  , yzbh, lxdh, yjdz, status, create_by, update_by, remark, update_time,
        create_time-->
<!--    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from stu_out_notification-->
<!--        where ksh = #{ksh,jdbcType=VARCHAR} and status = 0;-->
<!--    </select>-->

    <select id="selectStuOutNotification" parameterType="com.minhw.entity.StuOutNotification" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stu_out_notification_view
        where ksh = #{ksh,jdbcType=VARCHAR} and sfzh = #{sfzh,jdbcType=VARCHAR} and status = 0;
    </select>

</mapper>